<div class="sidebar">

    <div class="logo">

        <div class="logo-icon">
            W
        </div>

        <h4>WMS Pro</h4>

    </div>

    <div class="menu">

        <a routerLink="/dashboard"> Dashboard</a>
        <a routerLink="/employees"> Employees</a>
        <a routerLink="/departments"> Departments</a>
        <a routerLink="/roles"> Roles</a>
        <a routerLink="/clients"> Clients</a>
        <a routerLink="/projects"> Projects</a>
        <a routerLink="/allocations"> Allocations</a>
        <a routerLink="/attendance"> Attendance</a>
        <a routerLink="/leaves"> Leaves</a>
        <a routerLink="/announcements"> Announcements</a>
        <a routerLink="/auditlogs"> Audit Logs</a>

    </div>

</div>