<div class="sidebar">

    <div class="logo">

        <div class="logo-icon">W</div>

        <h4>WMS Pro</h4>

    </div>

    <div class="menu">

        <a routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-speedometer2"></i> Dashboard
        </a>
        <a routerLink="/employees" routerLinkActive="active">
            <i class="bi bi-people"></i> Employees
        </a>
        <a routerLink="/departments" routerLinkActive="active">
            <i class="bi bi-diagram-3"></i> Departments
        </a>
        <a routerLink="/roles" routerLinkActive="active">
            <i class="bi bi-person-badge"></i> Roles
        </a>
        <a routerLink="/clients" routerLinkActive="active">
            <i class="bi bi-building"></i> Clients
        </a>
        <a routerLink="/projects" routerLinkActive="active">
            <i class="bi bi-kanban"></i> Projects
        </a>
        <a routerLink="/allocations" routerLinkActive="active">
            <i class="bi bi-link-45deg"></i> Allocations
        </a>
        <a routerLink="/attendance" routerLinkActive="active">
            <i class="bi bi-calendar-check"></i> Attendance
        </a>
        <a routerLink="/leaves" routerLinkActive="active">
            <i class="bi bi-airplane"></i> Leaves
        </a>
        <a routerLink="/announcements" routerLinkActive="active">
            <i class="bi bi-megaphone"></i> Announcements
        </a>
        <a routerLink="/auditlogs" routerLinkActive="active">
            <i class="bi bi-clock-history"></i> Audit Logs
        </a>

    </div>

</div>
